<div class="my-5 sec4 mx-5 request">
  <div class="vacation-header d-flex justify-content-between">
    <div class="d-flex align-items-end">
      <img src="assets/img/check.png" alt="avatar" />
      <h5>Vacation Requests</h5>
    </div>

    <div class="input-group d-flex justify-content-between">
      <span class="input-group-text">
        <fa-icon [icon]="MagnifyingGlass"></fa-icon>
      </span>
      <input
        type="text"
        class="form-control"
        placeholder="Search..."
        [(ngModel)]="searchTerm"
      />
    </div>
  </div>
  <br />

  <div class="d-flex justify-content-between">
    <div class="select-all-container">
      <input type="checkbox" id="select-all" (click)="toggleSelectAll()" />
      <label for="select-all">Select All</label>
    </div>
    <a href="#">
      <i style="font-size: 40px" class="fa-solid fa-filter"></i>
    </a>
  </div>

  <div id="page-content" class="row mt-5">
    <div
      *ngFor="
        let item of filteredData()
          | slice
            : (currentPage - 1) * itemsPerPage
            : currentPage * itemsPerPage
      "
      class="col-md-4 mb-4"
    >
      <div
        class="card"
        [ngClass]="{ 'selected-card': selectedItems.has(item.name) }"
      >
        <div class="d-flex flex-column">
          <div class="id d-flex align-items-center flex-column">
            <img src="assets/img/avatar.png" alt="avatar" class="mb-1" />
            <h4 [innerHTML]="item.name | highlight : searchTerm"></h4>
            <div class="select-container">
              <input
                type="checkbox"
                class="select-input"
                (click)="toggleSelectItem(item.name)"
              />
              <span>Select</span>
            </div>
          </div>
          <div class="cardinfo">
            <div class="info ms-4">
              <div class="mb-2">
                <p class="header">Submitted on:</p>
                <p>{{ item.date | date : "MM/dd/yyyy" }}</p>
              </div>
              <div>
                <p class="header">Duration:</p>
                <p>{{ item.duration }}</p>
              </div>
              <div class="mt-2">
                <p class="header">Salary:</p>
                <p>{{ item.salary }}</p>
              </div>
            </div>
            <div
              class="buttons d-flex flex-column-reverse justify-content-between mt-3 ms-4"
            >
              <button
                class="btn btn-decline"
                (click)="handleDecline(item.name)"
              >
                Decline
              </button>
              <button
                *ngIf="parseSalary(item.salary) > 0"
                class="btn btn-approve text-white"
                (click)="handleApprove(item.name)"
              >
                Approve
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="page-navigation">
    <nav>
      <ul id="pagination" class="pagination">
        <!-- Left arrow -->
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="goToPreviousPage()">&laquo;</a>
        </li>

        <!-- Pages (show only 3 pages) -->
        <li
          *ngFor="let page of getDisplayedPages(); let i = index"
          class="page-item"
        >
          <a
            class="page-link"
            (click)="loadPage(page)"
            [class.active]="page === currentPage"
          >
            {{ page }}
          </a>
        </li>

        <!-- Right arrow -->
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="goToNextPage()">&raquo;</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
