<div id="navbar-placeholder"></div>

<div class="section1 m-4">
  <div class="row">
    <div class="col-lg-12">
      <div class="card one p-2">
        <div class="card-body">
          <div class="avatarinfo d-flex flex-row">
            <img src="assets/img/avatar1.jpg" alt="" class="avatar" />
            <div class="info d-flex flex-column">
              <h4>mohammad haddad</h4>
              <h6>Junior accounting officer</h6>
            </div>
          </div>
          <div
            class="persondata d-flex flex-row"
            style="display: flex; justify-content: space-between"
          >
            <div class="d-flex flex-row">
              <fa-icon [icon]="user"></fa-icon>
              <div class="d-flex flex-column align-items-center ps-3">
                <h5>Reporting To:</h5>
                <p>Salwa Assem</p>
              </div>
            </div>
            <div class="d-flex flex-row">
              <fa-icon [icon]="arrowDots"></fa-icon>
              <div class="d-flex flex-column align-items-center ps-3">
                <h5>Corporate Level:</h5>
                <p>Level 10</p>
              </div>
            </div>
            <div class="d-flex flex-row">
              <fa-icon [icon]="user"></fa-icon>
              <div class="d-flex flex-column align-items-center ps-3">
                <h5>Reporting To:</h5>
                <p>Salwa Assem</p>
              </div>
            </div>
            <div class="d-flex flex-row">
              <fa-icon [icon]="arrowDots"></fa-icon>
              <div class="d-flex flex-column align-items-center ps-3">
                <h5>Corporate Level:</h5>
                <p>Level 10</p>
              </div>
            </div>
            <div class="d-flex flex-row">
              <fa-icon [icon]="arrowDots"></fa-icon>
              <div class="d-flex flex-column align-items-center ps-3">
                <h5>Corporate Level:</h5>
                <p>Level 10</p>
              </div>
            </div>
          </div>
          <div class="viewbutton">
            <a>
              <button type="button" class="btn btn-secondary">
                New Request
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section2 card mx-4 my-5 sec4 px-5 pb-5">
  <div class="vacation-header d-flex justify-content-between">
    <div class="d-flex align-items-end">
      <img src="assets/img/check.png" alt="avatar" />
      <h5>History</h5>
    </div>
  </div>
  <div id="HistoryData" class="row mt-5"></div>
  <a routerLink="/requests" class="custom-btn btn"> View more</a>
</div>

<div class="section3 card mx-4 my-5 sec4 px-5 pb-5">
  <div class="vacation-header d-flex justify-content-between">
    <div class="d-flex align-items-end">
      <img src="assets/img/check.png" alt="avatar" />
      <h5>Pending Requests</h5>
    </div>
  </div>
  <div id="PendingData" class="row mt-5"></div>
  <a routerLink="/requests" class="custom-btn btn"> View more</a>
</div>
